[submodule "vimfiles/bundle/vim-fugitive"]
	path = vimfiles/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vimfiles/bundle/vim-clang_complete"]
	path = vimfiles/bundle/vim-clang_complete
	url = git://github.com/Rip-Rip/clang_complete.git
[submodule "vimfiles/bundle/ctrlp.vim"]
	path = vimfiles/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "tagbar"]
	path = tagbar
	url = git://github.com/majutsushi/tagbar.git
