[submodule "vimfiles/bundle/vim-fugitive"]
	path = vimfiles/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vimfiles/bundle/vim-clang_complete"]
	path = vimfiles/bundle/vim-clang_complete
	url = git://github.com/Rip-Rip/clang_complete.git
[submodule "vimfiles/bundle/ctrlp.vim"]
	path = vimfiles/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vimfiles/bundle/tagbar"]
	path = vimfiles/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vimfiles/bundle/vim-powerline"]
	path = vimfiles/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "vimfiles/bundle/nerdcommenter"]
	path = vimfiles/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vimfiles/bundle/vim-surround"]
	path = vimfiles/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vimfiles/bundle/ctrlp-filetype.vim"]
	path = vimfiles/bundle/ctrlp-filetype.vim
	url = git://github.com/endel/ctrlp-filetype.vim.git
[submodule "vimfiles/bundle/vim-repeat"]
	path = vimfiles/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vimfiles/bundle/rainbow_parentheses"]
	path = vimfiles/bundle/rainbow_parentheses
	url = git://github.com/kien/rainbow_parentheses.vim.git
[submodule "vimfiles/bundle/snipmate.vim"]
	path = vimfiles/bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule "vimfiles/bundle/ack.vim"]
	path = vimfiles/bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "vimfiles/bundle/conque-term"]
	path = vimfiles/bundle/conque-term
	url = git://github.com/rosenfeld/conque-term.git
    ignore = untracked
[submodule "vimfiles/bundle/a.vim"]
	path = vimfiles/bundle/a.vim
	url = git://github.com/vim-scripts/a.vim.git
[submodule "vimfiles/bundle/indenthaskell"]
	path = vimfiles/bundle/indenthaskell
	url = git://github.com/vim-scripts/indenthaskell.vim.git
[submodule "vimfiles/bundle/c.vim"]
	path = vimfiles/bundle/c.vim
	url = git@github.com:printesoi/c.vim.git
[submodule "vimfiles/bundle/prolog.vim"]
	path = vimfiles/bundle/prolog.vim
	url = git://github.com/adimit/prolog.vim.git
[submodule "vimfiles/bundle/minibufexpl.vim"]
	path = vimfiles/bundle/minibufexpl.vim
	url = git://github.com/fholgado/minibufexpl.vim.git
    ignore = untracked
[submodule "vimfiles/bundle/cpp11-syntax-support"]
	path = vimfiles/bundle/cpp11-syntax-support
	url = git://github.com/vim-scripts/Cpp11-Syntax-Support.git
[submodule "vimfiles/bundle/vim-colors-solarized"]
	path = vimfiles/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vimfiles/bundle/command-t"]
	path = vimfiles/bundle/command-t
	url = git://github.com/wincent/Command-T.git
[submodule "vimfiles/bundle/ultisnips"]
	path = vimfiles/bundle/ultisnips
	url = git://github.com/SirVer/ultisnips.git
[submodule "vimfiles/bundle/nerdtree"]
	path = vimfiles/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
