snippet sign "Description" b
##
# Victor Dodon <dodonvictor@gmail.com>
# File: ${2:`!v expand('%:t')`}
# Date: ${1:`date`}
#
$0
endsnippet

snippet mysql2 "Description" b
${0:$client} = Mysql2::Client.new(:username => "${1}", :password => "${2}",
                             :database => "${3}")
endsnippet
